# Common
OPENROUTER_API_KEY=

# Dev
CLERK_FRONTEND_API_URL=
EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# Production
CLERK_FRONTEND_API_URL=
EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=